body {
  @apply font-gilroy bg-primary-light h-full;
}
@font-face {
  font-family: 'Gilroy';
  src: url('@/assets/fonts/Gilroy/Gilroy-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('@/assets/fonts/Gilroy/Gilroy-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('@/assets/fonts/Gilroy/Gilroy-Black.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('@/assets/fonts/Gilroy/Gilroy-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

.container {
  margin: 0 auto;
}

.swiper-pagination-bullet {
  background: #979797 !important;
  width: 28px !important;
  height: 4px !important;
  border-radius: 148px !important;
}
.swiper-pagination-bullet-active {
  background: #5d625f !important;
}
.swiper-pagination {
  display: flex;
  gap: 6px;
}

